<div class='container'>
	<div class='box'>
		<div class='box-content'>
			<table class='table table-normal'>
				<thead>
					<tr>
						<td>Instance</td>
					</tr>
				</thead>
				<tbody>
						<%= @leak_instance.hash_to_html.html_safe %>
				</tbody>
			</table>
		</div>
	</div>
</div>