<div>
	<span class="title"><h1>Profile</h1></span>
	<span>현재 선택한 내용으로 프로파일링을 진행합니다</span>
</div>
	
<div class="container">
	<div class="row">
	
		<div class="col-md-4" >
		
			<div class="box" >
			<div class="box-header">
				<span class="title">Profile Category</span>
			</div>
				<div class="box-content" style="padding: 20px;">
					<ul>
						<% @report.categories.each do |c|  %>
							<li><%= c %></li>
						<% end  %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6" >
			<% if @report.scenario %>
				<div class="box" >
					<div class="box-header">
						<span class="title">Profile Scenario</span>
					</div>
					
					<div class="box-content" style="padding: 15px;">
						<h2 style="margin-top: 5px;"><%= @report.scenario.name %></h2>
						<span>
							<%= @report.scenario.description %>
						</span>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>