<div>
	<h1>Select Scenario for Profiling</h1>
	
	<%= link_to "#" do %>
		<span> 테스트 시나리오를 만드셨나요? </span>
	<% end  %>
	<span> 시나리오 없이 프로파일링 가능합니다</span>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12" >
			<div class="box" >
				<div class="box-content">
					<table class="table table-normal">
						<thead>
							<tr>
								<td>Scnario</td>
								<td>Event Paths</td>
								<td>Based on User</td>
								<td>Date</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% @scenarios.each do |s| %>
								<tr id="scenario_item">
									<td>
										<h2 style="margin-top: 5px;"><%= s.name %></h2>
										<span>
											<%= s.description %>
										</span>
									</td>
									<td>
										 14
									</td>
									<td>
										 check
									</td>
									<td>
										 01 Oct
									</td>
									<td>
										 <%= f.radio_button :scenario_id, s.id.to_i %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>